* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-dark-blue: hsl(213, 96%, 18%);
    --main-gray: hsl(231, 11%, 63%);
    
    --white: hsl(217, 100%, 97%);

    --orange: hsl(24, 100%, 75%);
    --red: hsl(354, 84%, 57%);
    --purple-blue: hsl(243, 100%, 62%);

    --accent: hsl(243, 33%, 46%);
    --selected: hsl(206, 94%, 87%);

    --background-gray: hsl(229, 24%, 87%);
}

html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;

}

/*///////////////////
    SideBar
///////////////////*/
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.form-component{
    border: 2px solid;
    min-height: 75vh;
    display: flex;
}

.sidebar {
    background-image:url(images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 3em;
    padding-right: 8em; 
}

.step-item{
    display: flex;
    align-items: center;
    color: var(--white);
    padding-bottom: 2em;
}

.step-num{
    padding: .5em .75em;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-right: 1.5em;
}

.step-text h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.step-text h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-gray);
}

